<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Thanksgiving</title>
		<link rel="stylesheet" href="../static/global-styles.css">
	</head>

	<body>

		<header>
			<h1 class = "heading">Thanksgivings Across the US</h1>

		</header>

		<ul>
			<li><button class = "demographic-button">Map</button></li>
			<li><button class = "demographic-button">Age Group</button></li>
			<li><button class = "demographic-button">Gender</button></li>
			<li><button class = "demographic-button">Population Density</button></li>
			<li><button class = "demographic-button">Random</button></li>
		</ul>



		<ul>
			<li>Main Dish</li>
			<li>Cooking Method</li>
			<li>Stuffing</li>
			<li>Cranberry Sauce</li>
			<li>Gravy</li>
			<li>Side Dish</li>
			<li>Pie</li>
			<li>Dessert</li>
			<li>Prayer</li>
			<li>Travel</li>
			<li>Macy's Parade</li>
			<li></li>
			<li></li>
			<li></li>

		</ul>




	</body>

</html>
