<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Thanksgiving</title>
		<link rel="stylesheet" href="../static/global-styles.css">
		<script>var api-port = {{api-port}}</script>
		<script type="text/javascript" src="../static/general-script.js" defer></script>
	</head>

	<body>

		<header>
			<h1>Thanksgivings Across the US</h1>

			<div id="nav-buttons">
				<button class="navigation">about</button>
				<button class="navigation">sources</button>
			</div>

		</header>

		<hr>

		<div id="demographic-button-group">
			<button class="demographic-button" id="map">Map</button>
			<button class="demographic-button" id="age-group">Age Group</button>
			<button class="demographic-button" id="gender">Gender</button>
			<button class="demographic-button" id="population-density">Population Density</button>
			<button class="demographic-button" id="random">Random</button>
		</div>

		<hr>
		<div id="main-content">

			<img id="map-image" src="../static/us-region-map.jpg" alt="map of united states regions">


		</div>


		<ul id="interest-button-group">
			<li>Main Dish</li>
			<li>Cooking Method</li>
			<li>Stuffing</li>
			<li>Cranberry Sauce</li>
			<li>Gravy</li>
			<li>Side Dish</li>
			<li>Pie</li>
			<li>Dessert</li>
			<li>Prayer</li>
			<li>Travel</li>
			<li>Macy's Parade</li>
			<li></li>
			<li></li>
			<li></li>
		</ul>




	</body>

</html>
