<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Thanksgiving</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/global-styles.css">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script>var api_port = {{api_port}}</script>
		<script type="text/javascript" src="../static/general-script.js" defer></script>
	</head>

	<body>

		<header>
			<h1>Thanksgivings Across the US</h1>

			<div id="nav-button-group">
				<button class="navigation">about</button>
				<button class="navigation">sources</button>
			</div>

		</header>

		<hr>

		<div id="demographic-button-group">
			<button class="demographic-button" id="map">Map</button>
			<button class="demographic-button" id="age">Age Group</button>
			<button class="demographic-button" id="gender">Gender</button>
			<button class="demographic-button" id="population_density">Population Density</button>
			<hr>
			<button class="demographic-button" id="random">Random</button>
		</div>

		<hr>

		<div id="main-content">

			<img id="data-image" width="813" height="463" src="../static/us-region-map.jpg" alt="map of united states regions" usemap="region-image-map">

			<map name="region-image-map" id="region-image-map">
				<area id="west north central" shape="rect" coords="340,55,480,250">
				<area id="southeast" shape="circle" coords="610,380,70">
				<area id="middle atlantic" shape="circle" coords="670,170,50">
				<area id="east south central" shape="circle" coords="540,310,55">
				<area id="mountain" shape="rect" coords="140,55,315,320">
				<area id="east north central" shape="rect" coords="490,55,610,240">
				<area id="new england" shape="rect" coords="725,65,820,180">
				<area id="south atlantic" shape="circle" coords="650,270,40">
				<area id="west south central" shape="rect" coords="325,260,480,420">
				<area id="pacific" shape="rect" coords="40,55,130,320">
			</map>


			<div id="interest-button-block">
				<button id="left_arrow"><i class="fas fa-angle-left"></i></button>
				<button id="selected-interest-button">TEST</button>
				<button id="right_arrow"><i class="fas fa-angle-right"></i></button>
			</div>


		</div>

		<div id="PLOTLY CONTAINER">
			<div id="west north central plotly"></div>
			<div id="southeast plotly"></div>
			<div id="middle atlantic plotly"></div>
			<div id="east south central plotly"></div>
			<div id="mountain plotly"></div>
			<div id="east north central plotly"></div>
			<div id="new england plotly"></div>
			<div id="south atlantic plotly"></div>
			<div id="west south central plotly"></div>
			<div id="pacific plotly"></div>
		</div>

		<ul id="interest-button-list">
			<li id="il0">Main Dish</li>
			<li id="il1">Cooking Method</li>
			<li id="il2">Stuffing</li>
			<li id="il3">Cranberry Sauce</li>
			<li id="il4">Gravy</li>
			<li id="il5">Side Dish</li>
			<li id="il6">Pie</li>
			<li id="il7">Dessert</li>
			<li id="il8">Prayer</li>
			<li id="il9">Travel</li>
			<li id="il10">Macy's Parade</li>
			<li id="il12">Age of Kid's Table</li>
			<li id="il13">Friendsgiving</li>
			<li id="il14">Shop Black Friday</li>
			<li id="il15">Work in Retail</li>
			<li id="il16">Work Black Friday</li>
		</ul>




	</body>

</html>
