<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../static/global-styles.css">
  <script type="text/javascript" src="../static/random-script.js" defer></script>

</head>

<body>

  <header>
    <h1>Random American Thanksgiving</h1>
    <div id="nav-button-group">
      <button id="go_to_home_page" class="navigation">home</button>
    </div>
  </header>

  <p style="color: white;">A Story about a random person's Thanksgiving!!</p>

</body>




</html>
