<!DOCTYPE html>
<html lang="en">

<head>
  <title>Thanksgiving</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/global-styles.css">
  <link rel="shortcut icon" href="../static/favicon.ico">
  <script>var api_port = {{api_port}}</script>
  <script type="text/javascript" src="../static/random-script.js" defer></script>

</head>

<body>

  <header>
    <h1>Random American Thanksgiving</h1>
    <div id="nav-button-group">
      <button id="go_to_home_page" class="navigation">home</button>
    </div>
  </header>

  <hr>

  <div id="demographic-button-group">
    <button class="demographic-button" id="back-button"><i class="fas fa-angle-double-left" style="font-size:20px;"></i> &nbsp;&nbsp;&nbsp;&nbsp; Back to Map</button>
    <hr>
    <button class="demographic-button" id="random">Another Random Story!</button>
  </div>

  <hr>

  <div id="story-block">
    <h2>A story about a random person's Thanksgiving!!</h2>

    <p id="story"></p>

  </div>


</body>




</html>
